.mobile-nav {
  background-color: #0060a6;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 1001;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px; }
  .mobile-nav .nav-item {
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
    width: 30%; }
    .mobile-nav .nav-item img {
      width: 30px;
      padding-bottom: 3px; }
    .mobile-nav .nav-item a {
      color: #fff; }
  .mobile-nav img.logo {
    padding: 5px;
    margin-bottom: 10px;
    height: 50px; }

@media screen and (max-width: 991px) {
  .mobile-nav {
    font-size: 12px; } }
.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 390px; }

aside {
  background-color: #0060a6;
  background-image: url("../../images/sidebar-background.png");
  background-repeat: no-repeat;
  background-position: top;
  display: block;
  padding-top: 60px;
  padding-bottom: 150px; }
  aside .logo {
    position: relative;
    display: inline-block;
    z-index: 100;
    left: -40px;
    width: 110%;
    height: 105px;
    border-bottom: 1px solid #b8aa00;
    background-color: #ffec00;
    padding: 15px; }
    aside .logo img {
      margin: 0 auto; }
  aside .logo::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: -40px;
    z-index: 100;
    width: 0px;
    border-top: 40px solid #b8aa00;
    border-left: 40px solid transparent; }
  aside .logo::after {
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 100;
    width: 0px;
    border-top: 105px solid #ffec00;
    border-right: 40px solid transparent; }
  aside .address {
    color: #fff;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; }
    aside .address hr {
      background-color: #fff;
      width: 30%;
      margin-top: 10px;
      margin-bottom: 10px; }
    aside .address img {
      display: inline-block;
      width: 50px;
      vertical-align: top;
      padding-top: 17px;
      padding-right: 8px; }
    aside .address .line {
      vertical-align: top;
      margin-top: 10px;
      display: inline-block;
      font-size: 25px;
      letter-spacing: 2px; }
      aside .address .line .txt {
        display: inline-block; }
    aside .address .line-address {
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 21px; }
      aside .address .line-address img {
        padding-top: 10px; }
    aside .address .line-phone {
      font-weight: 700; }
      aside .address .line-phone a {
        color: #fff; }
    aside .address .line-email {
      font-size: 20px; }
      aside .address .line-email .txt {
        padding-top: 5px; }
      aside .address .line-email a {
        color: #fff; }
      aside .address .line-email img {
        padding-top: 0; }
  aside nav {
    margin-top: 60px; }
    aside nav ul {
      list-style-type: none;
      padding: 0; }
      aside nav ul li {
        text-align: center; }
        aside nav ul li a {
          position: relative;
          display: block;
          color: #0060a6;
          padding: 10px;
          font-size: 22px;
          font-weight: 900;
          background-color: #ffec00;
          text-transform: uppercase;
          transition: all 0.6s; }
          aside nav ul li a:hover {
            text-decoration: none;
            background-color: #b8aa00 !important; }
          aside nav ul li a:focus {
            text-decoration: none;
            background-color: #b8aa00;
            color: #0060a6 !important; }
          aside nav ul li a:active {
            text-decoration: none;
            background-color: #b8aa00;
            color: #0060a6; }
        aside nav ul li.active a, aside nav ul li.focus a {
          text-decoration: none;
          background-color: #b8aa00 !important; }

@media screen and (max-width: 991px) {
  aside {
    display: none; } }
@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none; } }
@media screen and (max-width: 1199px) {
  .fixed-bottom {
    width: 323px; }

  aside .logo {
    width: 110%; } }
article {
  min-height: 400px;
  padding: 40px 40px 0px 60px; }
  article h1 {
    border-bottom: 1px solid #0060a6;
    color: #0060a6;
    font-weight: 700;
    text-align: right;
    margin-bottom: 20px; }
  article h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #0060a6; }
    article h3:before {
      content: '';
      width: 100%;
      height: 80px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      background-image: url("../../images/tire-up.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover; }
  article p {
    font-size: 19px; }
  article .blue {
    color: #0060a6;
    font-weight: 700; }
  article .yellow {
    position: relative;
    background-color: #D8DAB0;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700; }
  article .contact {
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    background-color: #737577; }
    article .contact img {
      padding: 10px; }
  article .white-detail, article .white-detail a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px; }
  article .text-and-image {
    background-image: url("../../images/tires-pile.png");
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 80px; }
  article .right {
    padding-left: 200px;
    padding-right: 30px;
    background-position: left bottom; }
  article .left {
    padding-right: 200px;
    padding-left: 30px;
    background-position: right bottom; }
  article li {
    font-size: 18px;
    display: inline-block;
    padding: 12px;
    margin: 5px;
    border: 3px solid #ffec00;
    background-color: #0060a6;
    color: #fff; }
  article img#divider {
    display: block;
    margin: 0 auto; }

@media screen and (max-width: 991px) {
  article h3 {
    font-size: 18px; }
    article h3:before {
      width: 50%; }
  article .right, article .left {
    padding-left: 0;
    padding-right: 0; }
  article .lead {
    font-size: 14px; }
  article .white-detail {
    font-size: 16px; }
    article .white-detail a {
      font-size: 16px; }
  article .contact img {
    width: 60px; }
  article ul {
    padding-left: 20px; }
  article li {
    font-size: 15px;
    padding: 8px; } }
@media screen and (max-width: 1024px) {
  article h3:before {
    height: 65px; } }
@media screen and (max-width: 768px) {
  article h3:before {
    height: 120px; }

  article#about .right {
    background-size: 35%;
    background-position: 20% 0%; }

  article#mobile .left {
    background-position: 0% 10%;
    background-size: 60%; } }
@media screen and (max-width: 425px) {
  article h3:before {
    height: 80px; }

  article#about .right {
    background-size: 75%; }

  article#mobile .left {
    background-position: 0% 10%;
    background-size: 90%; } }
@media screen and (max-width: 375px) {
  article h3:before {
    height: 60px; }

  article#about .right {
    background-size: 80%; }

  article#mobile .left {
    background-position: 0% 10%;
    background-size: 90%; } }
#slider {
  padding: 0;
  min-height: auto; }
  #slider .owl-item .item {
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #slider .owl-wrapper {
    position: relative; }
    #slider .owl-wrapper .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(transparent, #e7ecef);
      z-index: 50; }
      #slider .owl-wrapper .overlay h1 {
        border-bottom: 1px solid #0060a6;
        color: #0060a6;
        font-weight: 700;
        text-align: right;
        margin-bottom: 20px; }
      #slider .owl-wrapper .overlay p {
        font-size: 19px; }
      #slider .owl-wrapper .overlay .description {
        padding: 40px 30px 0px 60px;
        position: absolute;
        bottom: 0;
        width: 100%; }
      #slider .owl-wrapper .overlay .social-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 0;
        top: 60px;
        display: block; }

@media screen and (max-width: 991px) {
  .social-icon {
    top: auto;
    bottom: 30px; } }
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 60px;
  background-image: url("../../images/tires.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%; }

section {
  z-index: 1;
  padding-bottom: 30px;
  background-color: #E7ECEF;
  border-right: 5px solid #b8aa00; }

.nopadding {
  padding-left: 0;
  padding-right: 0; }

.affix {
  top: 0;
  width: 390px;
  z-index: 1000;
  position: fixed !important; }

header {
  background-color: #E7ECEF; }

footer {
  background-color: #ffec00; }

@media screen and (max-width: 1199px) {
  .affix {
    width: 323px !important; } }
@media screen and (max-width: 991px) {
  body {
    margin: auto; }

  section {
    margin-top: 130px; }

  article {
    padding: 25px; }
    article h1 {
      font-size: 22px;
      text-align: center; }
    article p {
      font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
