.mobile-nav {
    background-color: $cBlue;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1001;

    width: 100%;

    text-align: center;
    

    color: $cWhite;
    font-size: 18px;


    img {
        box-sizing: border-box;
        height: 80px;
        padding: 5px;
    }

    .nav-item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        margin-right: 20px;
        
        img#phone {
            width: 30px;
            height: 30px;
            display: block;
            margin: 0 auto;
        }
    }
}