$cYellow: #ffec00;
$cYellowDark: #b8aa00;
$cBlue: #0060a6;
$cWhite: #fff;
$cBackground: #E7ECEF;

@import "mobile-nav";
@import "aside";
@import "article";
@import "owl";
@import "gallery";
@import "map";


body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 60px;
	background-image: url('../../images/tires.jpg');
	background-position: right top;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60%;
}

section {
	z-index: 1;
	padding-bottom: 30px;
	background-color: $cBackground;
	border-right: 5px solid $cYellowDark;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.affix {
		top: 0;
		width: 390px;
		z-index: 1000;
		position: fixed !important;
}

.preload-active {
  overflow: hidden; 
}

#preloader {
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $cBackground;
  z-index: 5002; 
	
	img {
		display: block;
		margin: 0 auto;
		margin-top: 80px;
		width: 400px;
		margin-bottom: 20px;
		padding: 10px;
		background-color: $cYellow;
	}

	img#spinner { 
		width: 80px;
		margin-top: 0;
		padding: 0;
		background-color: $cBackground;
	}

	.dospin {
		-webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	}

	@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
	    from { -webkit-transform: rotate(0deg); }
	    to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	    from {transform:rotate(0deg);}
	    to {transform:rotate(360deg);}
	}

}


header {
	background-color: $cBackground;
}

footer {
	
}

@media screen and (max-width: 1199px) {
  .affix {
    width: 323px !important;
  }
}

@media screen and (max-width: 991px) {
	body {
		margin: auto;
	}

	section {
		margin-top: 130px;
	}

	article {
		padding: 25px;

		h1 {
			font-size: 22px;
			text-align: center;
		}

		p {
			font-size: 14px;
		}
	}
	


}