$cYellow: #ffec00;
$cYellowDark: #b8aa00;
$cBlue: #0060a6;
$cWhite: #fff;
$cBackground: #E7ECEF;

@import "mobile-nav";
@import "aside";
@import "article";


body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 40px;
}

section {
	z-index: 1;
	padding-bottom: 30px;
	background-color: $cBackground;
	border-right: 5px solid $cYellowDark;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.affix {
		top: 0;
		width: 390px;
		z-index: 1000;
		position: fixed !important;
}



// .affix-bottom {
// 	position: fixed !important;
// }

header {
	// height: 50px;
	background-color: $cBackground;
	// margin-bottom: 40px;
}

footer {
	// height: 600px;
	background-color: $cYellow;
	// margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .affix {
    width: 323px !important;
  }
}